# Solo para desarrollo LOCAL. En Render esto lo pone el panel solo.
# Copiá este archivo como ".env" y ajustá tus datos.

PGUSER=postgres
PGHOST=localhost
PGDATABASE=tamagotchi
PGPASSWORD=123456
PGPORT=5432
PORT=3000
